body  
{  
    margin: 0;  
    padding: 0;  
   background-image: url(tech.jfif);
   background-repeat: no-repeat;
   background-size: 100%;
    font-family: 'Arial';  
}  
.login{  

        width: 382px;  
        overflow: hidden;  
        margin-left:400px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color:white;  
    padding: 20px;  
    margin-right: 20px;
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
    margin-left: 35px;
}  
#Uname12{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    margin-left: 35px;
}  
#Pass12{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
    margin-left: 35px; 
      
}  
  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    
} 
